node_modules/
.next/
.env
.env.production
.env*.local
.superpowers/
.claude/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

.early.coverage
# TypeScript incremental build cache
tsconfig.tsbuildinfo
